.experience-container {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  height: 500px;
}
.experience-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.experience-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.experience-content::after {
  width: 20rem;
  height: 20rem;
  background: #9e51b9;
  top: 40%;
  left: 25%;
  content: "";
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(200px);
}

@media (max-width: 1025px) {
  .experience-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .arrow-left,
  .arrow-right {
    width: 1.8rem;
    height: 1.8rem;
  }
  .arrow-left {
    left: -1rem;
  }
  .arrow-right {
    right: -1rem;
  }
}
@media (max-width: 768px) {
  .experience-container {
    margin-top: 400px;
    height: 700px;
  }
  .experience-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
