@import url("../../App.css");
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    box-sizing: border-box;
}
#navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    border-bottom: 3px solid #a993fe;
    position: sticky;
    top: 0%;
    background-color: transparent;
    z-index: 999 !important;
    backdrop-filter: blur(500px);
}
#logo{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white;
}
#navlinks{
    display: flex;
    gap: 45px;
}
#navlinks ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}
#navlinks ul li{
    cursor: pointer;
    position: relative;
    color: white;
}
#navlinks ul li::after{
    content: "";
    display: block;
    width: 0%;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}
#navlinks ul li:hover::after{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}
#hireMe{
    color: white;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 6px 10px;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
}
#hireMe:hover{
    color: #a993fe;
    background: transparent;
    outline: 1.5px solid #a993fe;
}
.menu-btn{
    width: 2rem;
    height: 1.7rem;
    font-size: 1.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 2px solid #a993fe;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    transition: all 0.1s ease;
}
.menu-btn:hover{
    background: black;
}


@media (min-width: 1025px) {
    .navbar{
        padding: 0 7rem;
    }
}

@media (max-width: 1325px) {
    .navbar{
        padding: 0 2rem;
    }
}

@media (max-width: 850px) {
    .menu-btn{
        display: flex;
    }
    #navlinks ul{
        display: none;
    }
    #hireMe{
        display: none;
    }
}
@media (max-width: 450px) {
    .navbar{
        width: 100vw;
    }
}